In [56]:
import pandas as pd

In [57]:
# load adni-freesurfer_3_11_2025.csv and final_adni_qc.csv as dataframes
freesurfer = pd.read_csv('../data-for-lssm/raw/adni-freesurfer_3_11_2025.csv')
qc1 = pd.read_csv('../data-for-lssm/raw/UCSFFSL_02_01_16_27Mar2025.csv')
qc2 = pd.read_csv('../data-for-lssm/raw/UCSFFSX_11_02_15_27Mar2025.csv')
freesurfer

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,I185652,002_S_0295,CN,M,88,m36,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,5/22/2009,MGH,NaN
1,I177650,002_S_0295,CN,M,86,m12,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,5/25/2007,MGH,NaN
2,I178296,002_S_0295,CN,M,85,m06,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,11/2/2006,FS,NaN
3,I177659,002_S_0295,CN,M,87,m24,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,7/23/2008,MGH,NaN
4,I167590,002_S_0295,CN,M,85,sc,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,4/18/2006,MGH,2/12/2025
...,...,...,...,...,...,...,...,...,...,...,...,...
18658,I173270,941_S_1311,MCI,M,69,sc,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,3/2/2007,FS,2/12/2025
18659,I222555,941_S_1311,MCI,M,69,sc,MRI,FreeSurfer Longitudinal Processing surfaces,Post-processed,3/2/2007,FS,NaN
18660,I185315,941_S_1363,MCI,F,70,sc,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,3/12/2007,FS,2/12/2025
18661,I185317,941_S_1363,MCI,F,70,sc,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,3/12/2007,MGH,2/12/2025
18662,I185316,941_S_1363,MCI,F,70,sc,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,3/12/2007,MGH,2/12/2025

In [58]:
qc1

,RID,VISCODE,VISCODE2,EXAMDATE,VERSION,FLDSTRENG,LONISID,LONIUID,IMAGEUID,RUNDATE,...,ST98CV,ST98SA,ST98TA,ST98TS,ST99CV,ST99SA,ST99TA,ST99TS,ST9SV,update_stamp
0,3,m06,m06,2006-03-13,2009-07-01,1.5,4081,15240,31863,2009-07-01,...,4253,2131,2.034,0.720,10022,3475,2.525,0.693,2808,2016-02-02 09:33:37.0
1,3,m12,m12,2006-09-12,2009-07-01,1.5,5186,19096,35576,2009-07-01,...,4158,2171,1.991,0.678,9758,3493,2.448,0.670,2939,2016-02-02 09:33:37.0
2,3,m24,m24,2007-09-12,2009-07-02,1.5,11918,39296,88252,2009-07-02,...,3901,2091,1.893,0.648,9237,3243,2.431,0.671,2987,2016-02-02 09:33:37.0
3,3,sc,sc,2005-09-01,2009-07-01,1.5,1948,9127,32237,2009-07-01,...,4046,1947,2.021,0.745,10097,3292,2.579,0.659,2863,2016-02-02 09:33:37.0
4,4,m06,m06,2006-05-25,2009-08-24,1.5,4007,14969,64636,2009-08-24,...,3838,1638,2.138,0.656,10872,3526,2.645,0.639,1396,2016-02-02 09:33:37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3565,1427,m24,m24,2009-08-26,2010-12-22,1.5,22945,72777,163861,2010-12-22,...,4056,1495,2.633,0.646,12400,3493,2.978,0.654,2120,2016-02-02 09:34:03.0
3566,1427,m48,m48,2011-08-19,2014-02-28,1.5,36978,119726,274711,2014-02-28,...,3713,1453,2.369,0.726,12131,3516,2.855,0.761,2747,2016-02-02 09:34:03.0
3567,1427,sc,sc,2007-08-20,2009-09-15,1.5,11182,37933,91126,2009-09-15,...,4004,1480,2.623,0.700,12499,3698,2.937,0.702,2288,2016-02-02 09:34:03.0
3568,1430,m06,m06,2008-04-04,2011-02-01,1.5,15308,47983,124184,2011-02-01,...,3250,1273,2.544,0.789,7414,2259,2.775,0.610,1294,2016-02-02 09:34:03.0
3569,1430,sc,sc,2007-09-07,2011-02-01,1.5,11877,39199,79857,2011-02-01,...,3190,1248,2.630,0.927,7313,2200,2.764,0.703,1251,2016-02-02 09:34:03.0

In [59]:
qc2

,RID,VISCODE,EXAMDATE,VERSION,LONISID,FLDSTRENG,LONIUID,IMAGEUID,RUNDATE,STATUS,...,ST98CV,ST98SA,ST98TA,ST98TS,ST99CV,ST99SA,ST99TA,ST99TS,ST9SV,update_stamp
0,2,sc,2005-08-26,2009-05-14,1945,1.5,9107,35475,2009-05-14,complete,...,3835,1622,2.077,0.746,15683,4272,3.028,0.649,4396,2015-11-02 16:47:25.0
1,3,sc,2005-09-01,2009-05-11,1948,1.5,9127,32237,2009-05-11,complete,...,3681,1734,1.942,0.696,10387,3316,2.545,0.686,3304,2015-11-02 16:47:25.0
2,3,m06,2006-03-13,2009-06-26,4081,1.5,15240,31863,2009-06-26,complete,...,4060,1868,2.051,0.723,9311,3138,2.445,0.713,3173,2015-11-02 16:47:25.0
3,3,m12,2006-09-12,2009-05-27,5186,1.5,19096,35576,2009-05-27,complete,...,3921,1898,1.969,0.739,9736,3240,2.502,0.685,3235,2015-11-02 16:47:25.0
4,3,m24,2007-09-12,2009-09-28,11918,1.5,39296,88252,2009-09-28,complete,...,4129,1915,2.020,0.707,9316,3097,2.474,0.677,3314,2015-11-02 16:47:25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4481,1427,NaN,2014-08-18,2015-10-26,66265,NaN,227972,467244,2015-10-26,complete,...,4258,1487,2.381,0.717,11839,3406,2.799,0.767,2859,2015-11-02 16:48:03.0
4482,1427,NaN,2014-08-18,2015-10-26,66265,NaN,227974,467245,2015-10-26,complete,...,4443,1596,2.368,0.693,11693,3346,2.749,0.802,2838,2015-11-02 16:48:03.0
4483,1430,sc,2007-09-07,2009-05-19,11877,1.5,39199,79857,2009-05-19,complete,...,3430,1213,2.737,1.089,7340,2198,2.794,0.692,1229,2015-11-02 16:48:03.0
4484,1430,m06,2008-04-04,2010-08-16,15308,1.5,47983,124184,2010-08-16,complete,...,3166,1348,2.284,0.706,7542,2374,2.717,0.625,1434,2015-11-02 16:48:03.0
4485,1435,sc,2007-09-07,2009-05-18,11872,1.5,39186,79636,2009-05-18,complete,...,4384,1416,2.661,0.992,12800,3652,2.856,0.758,1613,2015-11-02 16:48:03.0

In [60]:
# drop rows in qc df where 'OVERALLQC' is not 'Pass'
qc1 = qc1[qc1['OVERALLQC'] == 'Pass']
qc2 = qc2[qc2['OVERALLQC'] == 'Pass']
qc1

,RID,VISCODE,VISCODE2,EXAMDATE,VERSION,FLDSTRENG,LONISID,LONIUID,IMAGEUID,RUNDATE,...,ST98CV,ST98SA,ST98TA,ST98TS,ST99CV,ST99SA,ST99TA,ST99TS,ST9SV,update_stamp
1,3,m12,m12,2006-09-12,2009-07-01,1.5,5186,19096,35576,2009-07-01,...,4158,2171,1.991,0.678,9758,3493,2.448,0.670,2939,2016-02-02 09:33:37.0
3,3,sc,sc,2005-09-01,2009-07-01,1.5,1948,9127,32237,2009-07-01,...,4046,1947,2.021,0.745,10097,3292,2.579,0.659,2863,2016-02-02 09:33:37.0
4,4,m06,m06,2006-05-25,2009-08-24,1.5,4007,14969,64636,2009-08-24,...,3838,1638,2.138,0.656,10872,3526,2.645,0.639,1396,2016-02-02 09:33:37.0
5,4,m12,m12,2006-11-28,2009-08-24,1.5,6078,23080,59357,2009-08-24,...,3777,1652,2.106,0.666,10779,3583,2.616,0.620,1249,2016-02-02 09:33:37.0
6,4,m18,m18,2007-05-25,2009-08-24,1.5,10580,37029,79178,2009-08-24,...,3514,1676,1.994,0.598,10688,3492,2.634,0.630,1506,2016-02-02 09:33:37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3565,1427,m24,m24,2009-08-26,2010-12-22,1.5,22945,72777,163861,2010-12-22,...,4056,1495,2.633,0.646,12400,3493,2.978,0.654,2120,2016-02-02 09:34:03.0
3566,1427,m48,m48,2011-08-19,2014-02-28,1.5,36978,119726,274711,2014-02-28,...,3713,1453,2.369,0.726,12131,3516,2.855,0.761,2747,2016-02-02 09:34:03.0
3567,1427,sc,sc,2007-08-20,2009-09-15,1.5,11182,37933,91126,2009-09-15,...,4004,1480,2.623,0.700,12499,3698,2.937,0.702,2288,2016-02-02 09:34:03.0
3568,1430,m06,m06,2008-04-04,2011-02-01,1.5,15308,47983,124184,2011-02-01,...,3250,1273,2.544,0.789,7414,2259,2.775,0.610,1294,2016-02-02 09:34:03.0
3569,1430,sc,sc,2007-09-07,2011-02-01,1.5,11877,39199,79857,2011-02-01,...,3190,1248,2.630,0.927,7313,2200,2.764,0.703,1251,2016-02-02 09:34:03.0

In [61]:
qc2

,RID,VISCODE,EXAMDATE,VERSION,LONISID,FLDSTRENG,LONIUID,IMAGEUID,RUNDATE,STATUS,...,ST98CV,ST98SA,ST98TA,ST98TS,ST99CV,ST99SA,ST99TA,ST99TS,ST9SV,update_stamp
0,2,sc,2005-08-26,2009-05-14,1945,1.5,9107,35475,2009-05-14,complete,...,3835,1622,2.077,0.746,15683,4272,3.028,0.649,4396,2015-11-02 16:47:25.0
1,3,sc,2005-09-01,2009-05-11,1948,1.5,9127,32237,2009-05-11,complete,...,3681,1734,1.942,0.696,10387,3316,2.545,0.686,3304,2015-11-02 16:47:25.0
2,3,m06,2006-03-13,2009-06-26,4081,1.5,15240,31863,2009-06-26,complete,...,4060,1868,2.051,0.723,9311,3138,2.445,0.713,3173,2015-11-02 16:47:25.0
3,3,m12,2006-09-12,2009-05-27,5186,1.5,19096,35576,2009-05-27,complete,...,3921,1898,1.969,0.739,9736,3240,2.502,0.685,3235,2015-11-02 16:47:25.0
4,3,m24,2007-09-12,2009-09-28,11918,1.5,39296,88252,2009-09-28,complete,...,4129,1915,2.020,0.707,9316,3097,2.474,0.677,3314,2015-11-02 16:47:25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,1427,m72,2013-08-19,2015-10-26,60509,1.5,198163,400446,2015-10-26,complete,...,3700,1402,2.217,0.671,12242,3538,2.737,0.781,2823,2015-11-02 16:48:03.0
4481,1427,NaN,2014-08-18,2015-10-26,66265,NaN,227972,467244,2015-10-26,complete,...,4258,1487,2.381,0.717,11839,3406,2.799,0.767,2859,2015-11-02 16:48:03.0
4482,1427,NaN,2014-08-18,2015-10-26,66265,NaN,227974,467245,2015-10-26,complete,...,4443,1596,2.368,0.693,11693,3346,2.749,0.802,2838,2015-11-02 16:48:03.0
4484,1430,m06,2008-04-04,2010-08-16,15308,1.5,47983,124184,2010-08-16,complete,...,3166,1348,2.284,0.706,7542,2374,2.717,0.625,1434,2015-11-02 16:48:03.0
4485,1435,sc,2007-09-07,2009-05-18,11872,1.5,39186,79636,2009-05-18,complete,...,4384,1416,2.661,0.992,12800,3652,2.856,0.758,1613,2015-11-02 16:48:03.0

In [62]:
# drop rows in qc df where there are NaN values in 'RID' or 'VISCODE'
qc1 = qc1.dropna(subset=['RID', 'VISCODE'])
qc2 = qc2.dropna(subset=['RID', 'VISCODE'])
qc1

,RID,VISCODE,VISCODE2,EXAMDATE,VERSION,FLDSTRENG,LONISID,LONIUID,IMAGEUID,RUNDATE,...,ST98CV,ST98SA,ST98TA,ST98TS,ST99CV,ST99SA,ST99TA,ST99TS,ST9SV,update_stamp
1,3,m12,m12,2006-09-12,2009-07-01,1.5,5186,19096,35576,2009-07-01,...,4158,2171,1.991,0.678,9758,3493,2.448,0.670,2939,2016-02-02 09:33:37.0
3,3,sc,sc,2005-09-01,2009-07-01,1.5,1948,9127,32237,2009-07-01,...,4046,1947,2.021,0.745,10097,3292,2.579,0.659,2863,2016-02-02 09:33:37.0
4,4,m06,m06,2006-05-25,2009-08-24,1.5,4007,14969,64636,2009-08-24,...,3838,1638,2.138,0.656,10872,3526,2.645,0.639,1396,2016-02-02 09:33:37.0
5,4,m12,m12,2006-11-28,2009-08-24,1.5,6078,23080,59357,2009-08-24,...,3777,1652,2.106,0.666,10779,3583,2.616,0.620,1249,2016-02-02 09:33:37.0
6,4,m18,m18,2007-05-25,2009-08-24,1.5,10580,37029,79178,2009-08-24,...,3514,1676,1.994,0.598,10688,3492,2.634,0.630,1506,2016-02-02 09:33:37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3565,1427,m24,m24,2009-08-26,2010-12-22,1.5,22945,72777,163861,2010-12-22,...,4056,1495,2.633,0.646,12400,3493,2.978,0.654,2120,2016-02-02 09:34:03.0
3566,1427,m48,m48,2011-08-19,2014-02-28,1.5,36978,119726,274711,2014-02-28,...,3713,1453,2.369,0.726,12131,3516,2.855,0.761,2747,2016-02-02 09:34:03.0
3567,1427,sc,sc,2007-08-20,2009-09-15,1.5,11182,37933,91126,2009-09-15,...,4004,1480,2.623,0.700,12499,3698,2.937,0.702,2288,2016-02-02 09:34:03.0
3568,1430,m06,m06,2008-04-04,2011-02-01,1.5,15308,47983,124184,2011-02-01,...,3250,1273,2.544,0.789,7414,2259,2.775,0.610,1294,2016-02-02 09:34:03.0
3569,1430,sc,sc,2007-09-07,2011-02-01,1.5,11877,39199,79857,2011-02-01,...,3190,1248,2.630,0.927,7313,2200,2.764,0.703,1251,2016-02-02 09:34:03.0

In [63]:
qc2

,RID,VISCODE,EXAMDATE,VERSION,LONISID,FLDSTRENG,LONIUID,IMAGEUID,RUNDATE,STATUS,...,ST98CV,ST98SA,ST98TA,ST98TS,ST99CV,ST99SA,ST99TA,ST99TS,ST9SV,update_stamp
0,2,sc,2005-08-26,2009-05-14,1945,1.5,9107,35475,2009-05-14,complete,...,3835,1622,2.077,0.746,15683,4272,3.028,0.649,4396,2015-11-02 16:47:25.0
1,3,sc,2005-09-01,2009-05-11,1948,1.5,9127,32237,2009-05-11,complete,...,3681,1734,1.942,0.696,10387,3316,2.545,0.686,3304,2015-11-02 16:47:25.0
2,3,m06,2006-03-13,2009-06-26,4081,1.5,15240,31863,2009-06-26,complete,...,4060,1868,2.051,0.723,9311,3138,2.445,0.713,3173,2015-11-02 16:47:25.0
3,3,m12,2006-09-12,2009-05-27,5186,1.5,19096,35576,2009-05-27,complete,...,3921,1898,1.969,0.739,9736,3240,2.502,0.685,3235,2015-11-02 16:47:25.0
4,3,m24,2007-09-12,2009-09-28,11918,1.5,39296,88252,2009-09-28,complete,...,4129,1915,2.020,0.707,9316,3097,2.474,0.677,3314,2015-11-02 16:47:25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4478,1427,m60,2012-08-15,2015-10-26,48567,1.5,160867,411319,2015-10-26,complete,...,4199,1561,2.372,0.725,12338,3555,2.750,0.769,2757,2015-11-02 16:48:03.0
4479,1427,m72,2013-08-19,2015-10-26,60509,1.5,198165,400447,2015-10-26,complete,...,4338,1680,2.315,0.751,11829,3491,2.677,0.812,2927,2015-11-02 16:48:03.0
4480,1427,m72,2013-08-19,2015-10-26,60509,1.5,198163,400446,2015-10-26,complete,...,3700,1402,2.217,0.671,12242,3538,2.737,0.781,2823,2015-11-02 16:48:03.0
4484,1430,m06,2008-04-04,2010-08-16,15308,1.5,47983,124184,2010-08-16,complete,...,3166,1348,2.284,0.706,7542,2374,2.717,0.625,1434,2015-11-02 16:48:03.0
4485,1435,sc,2007-09-07,2009-05-18,11872,1.5,39186,79636,2009-05-18,complete,...,4384,1416,2.661,0.992,12800,3652,2.856,0.758,1613,2015-11-02 16:48:03.0

In [64]:
# keep only the following columns in qc df: 'RID', 'VISCODE', 'OVERALLQC'
qc1 = qc1[['RID', 'VISCODE', 'OVERALLQC']]
qc2 = qc2[['RID', 'VISCODE', 'OVERALLQC']]
qc1

       RID VISCODE OVERALLQC
1        3     m12      Pass
3        3      sc      Pass
4        4     m06      Pass
5        4     m12      Pass
6        4     m18      Pass
...    ...     ...       ...
3565  1427     m24      Pass
3566  1427     m48      Pass
3567  1427      sc      Pass
3568  1430     m06      Pass
3569  1430      sc      Pass

[2566 rows x 3 columns]

In [65]:
# merge qc1 and qc2 on 'RID' and 'VISCODE'
qc = pd.merge(qc1, qc2, on=['RID', 'VISCODE'], how='outer')
qc

       RID VISCODE OVERALLQC_x OVERALLQC_y
0        2      sc         NaN        Pass
1        3     m06         NaN        Pass
2        3     m12        Pass        Pass
3        3     m24         NaN        Pass
4        3      sc        Pass        Pass
...    ...     ...         ...         ...
3417  1427     m72         NaN        Pass
3418  1427      sc        Pass        Pass
3419  1430     m06        Pass        Pass
3420  1430      sc        Pass         NaN
3421  1435      sc         NaN        Pass

[3422 rows x 4 columns]

In [66]:
# if qc[OVERALLQC_x] == 'Pass' or qc[OVERALLQC_y] == 'Pass' then qc[OVERALLQC] = 'Pass'
qc['OVERALLQC'] = qc.apply(lambda x: 'Pass' if x['OVERALLQC_x'] == 'Pass' or x['OVERALLQC_y'] == 'Pass' else 'Fail', axis=1)
qc

       RID VISCODE OVERALLQC_x OVERALLQC_y OVERALLQC
0        2      sc         NaN        Pass      Pass
1        3     m06         NaN        Pass      Pass
2        3     m12        Pass        Pass      Pass
3        3     m24         NaN        Pass      Pass
4        3      sc        Pass        Pass      Pass
...    ...     ...         ...         ...       ...
3417  1427     m72         NaN        Pass      Pass
3418  1427      sc        Pass        Pass      Pass
3419  1430     m06        Pass        Pass      Pass
3420  1430      sc        Pass         NaN      Pass
3421  1435      sc         NaN        Pass      Pass

[3422 rows x 5 columns]

In [67]:
# drop columns 'OVERALLQC_x' and 'OVERALLQC_y'
qc = qc.drop(columns=['OVERALLQC_x', 'OVERALLQC_y'])
qc

       RID VISCODE OVERALLQC
0        2      sc      Pass
1        3     m06      Pass
2        3     m12      Pass
3        3     m24      Pass
4        3      sc      Pass
...    ...     ...       ...
3417  1427     m72      Pass
3418  1427      sc      Pass
3419  1430     m06      Pass
3420  1430      sc      Pass
3421  1435      sc      Pass

[3422 rows x 3 columns]

In [68]:
# for the subject column for freesurfer, keep only characters that come after second underscore, and convert to int64, and save it to a new column called 'RID'
freesurfer['RID'] = freesurfer['Subject'].str.split('_').str[2].astype('int64')
freesurfer

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded,RID
0,I185652,002_S_0295,CN,M,88,m36,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,5/22/2009,MGH,NaN,295
1,I177650,002_S_0295,CN,M,86,m12,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,5/25/2007,MGH,NaN,295
2,I178296,002_S_0295,CN,M,85,m06,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,11/2/2006,FS,NaN,295
3,I177659,002_S_0295,CN,M,87,m24,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,7/23/2008,MGH,NaN,295
4,I167590,002_S_0295,CN,M,85,sc,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,4/18/2006,MGH,2/12/2025,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18658,I173270,941_S_1311,MCI,M,69,sc,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,3/2/2007,FS,2/12/2025,1311
18659,I222555,941_S_1311,MCI,M,69,sc,MRI,FreeSurfer Longitudinal Processing surfaces,Post-processed,3/2/2007,FS,NaN,1311
18660,I185315,941_S_1363,MCI,F,70,sc,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,3/12/2007,FS,2/12/2025,1363
18661,I185317,941_S_1363,MCI,F,70,sc,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,3/12/2007,MGH,2/12/2025,1363
18662,I185316,941_S_1363,MCI,F,70,sc,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,3/12/2007,MGH,2/12/2025,1363

In [69]:
freesurfer.dtypes

Image Data ID    object
Subject          object
Group            object
Sex              object
Age               int64
Visit            object
Modality         object
Description      object
Type             object
Acq Date         object
Format           object
Downloaded       object
RID               int64
dtype: object

In [70]:
# rename Subject column to RID and Visit column to VISCODE2
freesurfer = freesurfer.rename(columns={'Visit':'VISCODE'})
freesurfer

,Image Data ID,Subject,Group,Sex,Age,VISCODE,Modality,Description,Type,Acq Date,Format,Downloaded,RID
0,I185652,002_S_0295,CN,M,88,m36,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,5/22/2009,MGH,NaN,295
1,I177650,002_S_0295,CN,M,86,m12,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,5/25/2007,MGH,NaN,295
2,I178296,002_S_0295,CN,M,85,m06,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,11/2/2006,FS,NaN,295
3,I177659,002_S_0295,CN,M,87,m24,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,7/23/2008,MGH,NaN,295
4,I167590,002_S_0295,CN,M,85,sc,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,4/18/2006,MGH,2/12/2025,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18658,I173270,941_S_1311,MCI,M,69,sc,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,3/2/2007,FS,2/12/2025,1311
18659,I222555,941_S_1311,MCI,M,69,sc,MRI,FreeSurfer Longitudinal Processing surfaces,Post-processed,3/2/2007,FS,NaN,1311
18660,I185315,941_S_1363,MCI,F,70,sc,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,3/12/2007,FS,2/12/2025,1363
18661,I185317,941_S_1363,MCI,F,70,sc,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,3/12/2007,MGH,2/12/2025,1363
18662,I185316,941_S_1363,MCI,F,70,sc,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,3/12/2007,MGH,2/12/2025,1363

In [71]:
# print dtypes for both dataframes
print(freesurfer.dtypes)
print(qc.dtypes)

Image Data ID    object
Subject          object
Group            object
Sex              object
Age               int64
VISCODE          object
Modality         object
Description      object
Type             object
Acq Date         object
Format           object
Downloaded       object
RID               int64
dtype: object
RID           int64
VISCODE      object
OVERALLQC    object
dtype: object

In [72]:
# merge freesurfer and qc dataframes on RID and VISCODE2
merged = pd.merge(qc, freesurfer, on=['RID', 'VISCODE'])
merged

,RID,VISCODE,OVERALLQC,Image Data ID,Subject,Group,Sex,Age,Modality,Description,Type,Acq Date,Format,Downloaded
0,2,sc,Pass,I252184,011_S_0002,CN,M,74,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,8/26/2005,MGH,NaN
1,2,sc,Pass,I252183,011_S_0002,CN,M,74,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,8/26/2005,FS,NaN
2,2,sc,Pass,I252185,011_S_0002,CN,M,74,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,8/26/2005,MGH,NaN
3,3,m06,Pass,I177971,011_S_0003,AD,M,82,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,3/13/2006,MGH,NaN
4,3,m06,Pass,I211048,011_S_0003,AD,M,82,MRI,FreeSurfer Longitudinal Processing surfaces,Post-processed,3/13/2006,FS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16270,1430,sc,Pass,I188607,128_S_1430,AD,F,84,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,9/7/2007,MGH,NaN
16271,1430,sc,Pass,I188606,128_S_1430,AD,F,84,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,9/7/2007,FS,NaN
16272,1435,sc,Pass,I181845,041_S_1435,AD,M,82,MRI,FreeSurfer Cross-Sectional Processing aparc+aseg,Post-processed,9/7/2007,MGH,NaN
16273,1435,sc,Pass,I181847,041_S_1435,AD,M,82,MRI,FreeSurfer Cross-Sectional Processing surfaces,Post-processed,9/7/2007,FS,NaN
16274,1435,sc,Pass,I181846,041_S_1435,AD,M,82,MRI,FreeSurfer Cross-Sectional Processing brainmask,Post-processed,9/7/2007,MGH,NaN

In [73]:
# keep only the following columns in merged df: 'RID', 'VISCODE', 'OVERALLQC', 'Age', 'Description'
merged = merged[['RID', 'VISCODE', 'OVERALLQC', 'Age', 'Description']]
# convert 'Description' column to string
merged['Description'] = merged['Description'].astype(str)
merged

/var/folders/fs/sm78nlz5357_66ck4xgvyzjm0000gp/T/ipykernel_65027/230002588.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['Description'] = merged['Description'].astype(str)

,RID,VISCODE,OVERALLQC,Age,Description
0,2,sc,Pass,74,FreeSurfer Cross-Sectional Processing aparc+aseg
1,2,sc,Pass,74,FreeSurfer Cross-Sectional Processing surfaces
2,2,sc,Pass,74,FreeSurfer Cross-Sectional Processing brainmask
3,3,m06,Pass,82,FreeSurfer Cross-Sectional Processing brainmask
4,3,m06,Pass,82,FreeSurfer Longitudinal Processing surfaces
...,...,...,...,...,...
16270,1430,sc,Pass,84,FreeSurfer Cross-Sectional Processing brainmask
16271,1430,sc,Pass,84,FreeSurfer Cross-Sectional Processing surfaces
16272,1435,sc,Pass,82,FreeSurfer Cross-Sectional Processing aparc+aseg
16273,1435,sc,Pass,82,FreeSurfer Cross-Sectional Processing surfaces
16274,1435,sc,Pass,82,FreeSurfer Cross-Sectional Processing brainmask

In [74]:
# keep only rows that have description that has value of 'FreeSurfer Cross-Sectional Processing aparc+aseg'
merged = merged[merged['Description'] == 'FreeSurfer Cross-Sectional Processing aparc+aseg']
merged

,RID,VISCODE,OVERALLQC,Age,Description
0,2,sc,Pass,74,FreeSurfer Cross-Sectional Processing aparc+aseg
5,3,m06,Pass,82,FreeSurfer Cross-Sectional Processing aparc+aseg
12,3,m12,Pass,82,FreeSurfer Cross-Sectional Processing aparc+aseg
17,3,m24,Pass,83,FreeSurfer Cross-Sectional Processing aparc+aseg
26,3,sc,Pass,81,FreeSurfer Cross-Sectional Processing aparc+aseg
...,...,...,...,...,...
16254,1427,m24,Pass,72,FreeSurfer Cross-Sectional Processing aparc+aseg
16265,1427,sc,Pass,70,FreeSurfer Cross-Sectional Processing aparc+aseg
16266,1430,m06,Pass,84,FreeSurfer Cross-Sectional Processing aparc+aseg
16269,1430,sc,Pass,84,FreeSurfer Cross-Sectional Processing aparc+aseg
16272,1435,sc,Pass,82,FreeSurfer Cross-Sectional Processing aparc+aseg

In [75]:
# drop duplicates in merged df
merged = merged.drop_duplicates()
merged

,RID,VISCODE,OVERALLQC,Age,Description
0,2,sc,Pass,74,FreeSurfer Cross-Sectional Processing aparc+aseg
5,3,m06,Pass,82,FreeSurfer Cross-Sectional Processing aparc+aseg
12,3,m12,Pass,82,FreeSurfer Cross-Sectional Processing aparc+aseg
17,3,m24,Pass,83,FreeSurfer Cross-Sectional Processing aparc+aseg
26,3,sc,Pass,81,FreeSurfer Cross-Sectional Processing aparc+aseg
...,...,...,...,...,...
16254,1427,m24,Pass,72,FreeSurfer Cross-Sectional Processing aparc+aseg
16265,1427,sc,Pass,70,FreeSurfer Cross-Sectional Processing aparc+aseg
16266,1430,m06,Pass,84,FreeSurfer Cross-Sectional Processing aparc+aseg
16269,1430,sc,Pass,84,FreeSurfer Cross-Sectional Processing aparc+aseg
16272,1435,sc,Pass,82,FreeSurfer Cross-Sectional Processing aparc+aseg

In [76]:
# keep only the following columns in merged df: 'RID', 'VISCODE', 'Age'
merged = merged[['RID', 'VISCODE', 'Age']]
merged

        RID VISCODE  Age
0         2      sc   74
5         3     m06   82
12        3     m12   82
17        3     m24   83
26        3      sc   81
...     ...     ...  ...
16254  1427     m24   72
16265  1427      sc   70
16266  1430     m06   84
16269  1430      sc   84
16272  1435      sc   82

[2914 rows x 3 columns]

In [77]:
# drop duplicated rows in merged df
merged = merged.drop_duplicates(subset=['RID', 'VISCODE'])
merged = merged.dropna(subset=['Age'])
merged

        RID VISCODE  Age
0         2      sc   74
5         3     m06   82
12        3     m12   82
17        3     m24   83
26        3      sc   81
...     ...     ...  ...
16254  1427     m24   72
16265  1427      sc   70
16266  1430     m06   84
16269  1430      sc   84
16272  1435      sc   82

[2914 rows x 3 columns]

In [78]:
# value counts for age
age_counts = merged['Age'].value_counts()
# sort the value counts
age_counts = age_counts.sort_index()
age_counts

Age
55      3
56      8
57     14
58     12
59     11
60     17
61     20
62     26
63     36
64     43
65     46
66     52
67     42
68     35
69     50
70     79
71    130
72    166
73    180
74    204
75    182
76    160
77    169
78    169
79    147
80    154
81    140
82    116
83    101
84    109
85     99
86     73
87     45
88     34
89     18
90     15
91      6
92      1
93      2
Name: count, dtype: int64

In [79]:
merged_no_age = merged.drop(columns=['Age'])
merged_no_age

        RID VISCODE
0         2      sc
5         3     m06
12        3     m12
17        3     m24
26        3      sc
...     ...     ...
16254  1427     m24
16265  1427      sc
16266  1430     m06
16269  1430      sc
16272  1435      sc

[2914 rows x 2 columns]

In [80]:
# merge back in the freesurfer 'Subject' column to the merged_no_age df on RID and VISCODE
merged_no_age = pd.merge(merged_no_age, freesurfer[['RID', 'VISCODE', 'Subject']], on=['RID', 'VISCODE'])
merged_no_age

        RID VISCODE     Subject
0         2      sc  011_S_0002
1         2      sc  011_S_0002
2         2      sc  011_S_0002
3         3     m06  011_S_0003
4         3     m06  011_S_0003
...     ...     ...         ...
15988  1430      sc  128_S_1430
15989  1430      sc  128_S_1430
15990  1435      sc  041_S_1435
15991  1435      sc  041_S_1435
15992  1435      sc  041_S_1435

[15993 rows x 3 columns]

In [82]:
# print out unique values for the 'Subject' column
unique_subjects = merged_no_age['Subject'].unique()
unique_subjects

array(['011_S_0002', '011_S_0003', '022_S_0004', '011_S_0005',
       '100_S_0006', '022_S_0007', '011_S_0008', '011_S_0010',
       '022_S_0014', '100_S_0015', '011_S_0016', '067_S_0019',
       '067_S_0020', '011_S_0021', '011_S_0022', '011_S_0023',
       '067_S_0024', '067_S_0029', '023_S_0031', '035_S_0033',
       '100_S_0035', '067_S_0038', '099_S_0040', '007_S_0041',
       '023_S_0042', '018_S_0043', '022_S_0044', '067_S_0045',
       '100_S_0047', '099_S_0051', '011_S_0053', '099_S_0054',
       '018_S_0055', '067_S_0056', '018_S_0057', '023_S_0058',
       '067_S_0059', '099_S_0060', '023_S_0061', '022_S_0066',
       '010_S_0067', '007_S_0068', '100_S_0069', '007_S_0070',
       '123_S_0072', '027_S_0074', '067_S_0076', '067_S_0077',
       '023_S_0078', '018_S_0080', '023_S_0081', '023_S_0083',
       '023_S_0084', '136_S_0086', '018_S_0087', '123_S_0088',
       '073_S_0089', '099_S_0090', '123_S_0091', '023_S_0093',
       '123_S_0094', '032_S_0095', '022_S_0096', '020_S_0097',
       '067_S_0098', '130_S_0102', '018_S_0103', '123_S_0106',
       '136_S_0107', '123_S_0108', '068_S_0109', '067_S_0110',
       '099_S_0111', '127_S_0112', '027_S_0116', '027_S_0118',
       '027_S_0120', '131_S_0123', '041_S_0125', '023_S_0126',
       '068_S_0127', '007_S_0128', '022_S_0129', '022_S_0130',
       '128_S_0135', '128_S_0138', '023_S_0139', '021_S_0141',
       '018_S_0142', '032_S_0147', '098_S_0149', '037_S_0150',
       '018_S_0155', '035_S_0156', '137_S_0158', '021_S_0159',
       '098_S_0160', '010_S_0161', '123_S_0162', '114_S_0166',
       '128_S_0167', '011_S_0168', '014_S_0169', '098_S_0171',
       '098_S_0172', '114_S_0173', '067_S_0176', '067_S_0177',
       '021_S_0178', '027_S_0179', '037_S_0182', '011_S_0183',
       '136_S_0184', '136_S_0186', '032_S_0187', '128_S_0188',
       '100_S_0190', '136_S_0194', '136_S_0195', '136_S_0196',
       '128_S_0200', '035_S_0204', '128_S_0205', '068_S_0210',
       '020_S_0213', '032_S_0214', '128_S_0216', '023_S_0217',
       '022_S_0219', '005_S_0221', '005_S_0223', '128_S_0225',
       '128_S_0227', '114_S_0228', '128_S_0229', '128_S_0230',
       '021_S_0231', '130_S_0232', '013_S_0240', '011_S_0241',
       '067_S_0243', '128_S_0245', '007_S_0249', '027_S_0256',
       '067_S_0257', '128_S_0258', '127_S_0259', '127_S_0260',
       '041_S_0262', '128_S_0266', '098_S_0269', '128_S_0272',
       '021_S_0273', '021_S_0276', '018_S_0277', '041_S_0282',
       '137_S_0283', '067_S_0284', '130_S_0285', '018_S_0286',
       '130_S_0289', '067_S_0290', '099_S_0291', '035_S_0292',
       '007_S_0293', '031_S_0294', '002_S_0295', '100_S_0296',
       '123_S_0298', '136_S_0299', '136_S_0300', '137_S_0301',
       '037_S_0303', '082_S_0304', '027_S_0307', '128_S_0310',
       '073_S_0311', '073_S_0312', '041_S_0314', '072_S_0315',
       '007_S_0316', '131_S_0319', '031_S_0321', '006_S_0322',
       '005_S_0324', '013_S_0325', '011_S_0326', '037_S_0327',
       '014_S_0328', '023_S_0331', '021_S_0332', '018_S_0335',
       '067_S_0336', '021_S_0337', '141_S_0340', '035_S_0341',
       '021_S_0343', '007_S_0344', '031_S_0351', '099_S_0352',
       '016_S_0354', '016_S_0359', '116_S_0360', '116_S_0361',
       '011_S_0362', '082_S_0363', '137_S_0366', '018_S_0369',
       '116_S_0370', '099_S_0372', '114_S_0374', '023_S_0376',
       '037_S_0377', '114_S_0378', '116_S_0382', '131_S_0384',
       '073_S_0386', '023_S_0388', '053_S_0389', '123_S_0390',
       '127_S_0393', '127_S_0394', '127_S_0397', '032_S_0400',
       '068_S_0401', '027_S_0403', '027_S_0404', '126_S_0405',
       '018_S_0406', '041_S_0407', '027_S_0408', '114_S_0410',
       '002_S_0413', '007_S_0414', '114_S_0416', '027_S_0417',
       '010_S_0419', '010_S_0420', '010_S_0422', '130_S_0423',
       '021_S_0424', '018_S_0425', '136_S_0426', '136_S_0429',
       '127_S_0431', '133_S_0433', '094_S_0434', '131_S_0436',
       '137_S_0438', '131_S_0441', '068_S_0442', '137_S_0443',
       '041_S_0446', '005_S_0448', '130_S_0449', '037_S_0454',
       '131_S_0457', '114_S_0458', '137_S_0459', '130_S_0460',
       '027_S_0461', '057_S_0464', '037_S_0467', '082_S_0469',
       '099_S_0470', '010_S_0472', '068_S_0473', '057_S_0474',
       '068_S_0476', '068_S_0478', '032_S_0479', '137_S_0481',
       '006_S_0484', '027_S_0485', '116_S_0487', '133_S_0488',
       '094_S_0489', '133_S_0493', '131_S_0497', '006_S_0498',
       '128_S_0500', '037_S_0501', '013_S_0502', '130_S_0505',
       '126_S_0506', '053_S_0507', '033_S_0511', '033_S_0513',
       '033_S_0514', '033_S_0516', '128_S_0517', '073_S_0518',
       '014_S_0519', '014_S_0520', '128_S_0522', '133_S_0525',
       '094_S_0526', '128_S_0528', '094_S_0531', '099_S_0534',
       '062_S_0535', '016_S_0538', '037_S_0539', '022_S_0543',
       '022_S_0544', '128_S_0545', '005_S_0546', '006_S_0547',
       '014_S_0548', '041_S_0549', '099_S_0551', '037_S_0552',
       '005_S_0553', '031_S_0554', '035_S_0555', '014_S_0557',
       '014_S_0558', '002_S_0559', '014_S_0563', '073_S_0565',
       '037_S_0566', '033_S_0567', '031_S_0568', '005_S_0572',
       '036_S_0576', '036_S_0577', '062_S_0578', '136_S_0579',
       '037_S_0588', '016_S_0590', '013_S_0592', '114_S_0601',
       '005_S_0602', '023_S_0604', '126_S_0605', '126_S_0606',
       '067_S_0607', '128_S_0608', '005_S_0610', '128_S_0611',
       '023_S_0613', '031_S_0618', '002_S_0619', '053_S_0621',
       '127_S_0622', '023_S_0625', '021_S_0626', '037_S_0627',
       '133_S_0629', '137_S_0631', '018_S_0633', '012_S_0634',
       '012_S_0637', '133_S_0638', '082_S_0640', '082_S_0641',
       '021_S_0642', '057_S_0643', '027_S_0644', '021_S_0647',
       '116_S_0648', '116_S_0649', '006_S_0653', '036_S_0656',
       '116_S_0657', '014_S_0658', '098_S_0667', '137_S_0668',
       '137_S_0669', '052_S_0671', '036_S_0672', '036_S_0673',
       '006_S_0675', '032_S_0677', '041_S_0679', '126_S_0680',
       '006_S_0681', '018_S_0682', '127_S_0684', '002_S_0685',
       '137_S_0686', '012_S_0689', '062_S_0690', '094_S_0692',
       '136_S_0695', '141_S_0696', '007_S_0698', '016_S_0702',
       '126_S_0708', '126_S_0709', '094_S_0711', '012_S_0712',
       '128_S_0715', '141_S_0717', '032_S_0718', '012_S_0720',
       '041_S_0721', '137_S_0722', '033_S_0723', '033_S_0724',
       '033_S_0725', '141_S_0726', '002_S_0729', '062_S_0730',
       '006_S_0731', '033_S_0733', '033_S_0734', '033_S_0739',
       '128_S_0740', '033_S_0741', '073_S_0746', '100_S_0747',
       '036_S_0748', '022_S_0750', '009_S_0751', '116_S_0752',
       '021_S_0753', '127_S_0754', '036_S_0759', '036_S_0760',
       '082_S_0761', '141_S_0767', '062_S_0768', '016_S_0769',
       '128_S_0770', '133_S_0771', '109_S_0777', '129_S_0778',
       '057_S_0779', '130_S_0783', '126_S_0784', '010_S_0786',
       '010_S_0788', '141_S_0790', '133_S_0792', '062_S_0793',
       '137_S_0800', '068_S_0802', '012_S_0803', '141_S_0810',
       '067_S_0812', '036_S_0813', '005_S_0814', '002_S_0816',
       '057_S_0818', '031_S_0821', '029_S_0824', '067_S_0828',
       '010_S_0829', '031_S_0830', '082_S_0832', '116_S_0834',
       '027_S_0835', '029_S_0836', '057_S_0839', '109_S_0840',
       '137_S_0841', '009_S_0842', '029_S_0843', '127_S_0844',
       '029_S_0845', '027_S_0850', '141_S_0851', '141_S_0852',
       '141_S_0853', '011_S_0856', '013_S_0860', '011_S_0861',
       '009_S_0862', '128_S_0863', '126_S_0865', '029_S_0866',
       '031_S_0867', '036_S_0869', '068_S_0872', '136_S_0873',
       '136_S_0874', '109_S_0876', '029_S_0878', '099_S_0880',
       '020_S_0883', '130_S_0886', '023_S_0887', '033_S_0888',
       '033_S_0889', '116_S_0890', '126_S_0891', '100_S_0892',
       '098_S_0896', '041_S_0898', '020_S_0899', '010_S_0904',
       '033_S_0906', '003_S_0908', '073_S_0909', '133_S_0912',
       '133_S_0913', '029_S_0914', '141_S_0915', '023_S_0916',
       '012_S_0917', '053_S_0919', '033_S_0920', '094_S_0921',
       '033_S_0922', '033_S_0923', '022_S_0924', '127_S_0925',
       '023_S_0926', '082_S_0928', '005_S_0929', '100_S_0930',
       '003_S_0931', '012_S_0932', '057_S_0934', '002_S_0938',
       '057_S_0941', '036_S_0945', '128_S_0947', '109_S_0950',
       '052_S_0951', '052_S_0952', '002_S_0954', '002_S_0955',
       '130_S_0956', '057_S_0957', '099_S_0958', '022_S_0961',
       '023_S_0963', '109_S_0967', '130_S_0969', '137_S_0972',
       '137_S_0973', '036_S_0976', '032_S_0978', '114_S_0979',
       '003_S_0981', '141_S_0982', '021_S_0984', '024_S_0985',
       '132_S_0987', '052_S_0989', '016_S_0991', '137_S_0994',
       '100_S_0995', '013_S_0996', '035_S_0997', '036_S_1001',
       '041_S_1002', '141_S_1004', '057_S_1007', '012_S_1009',
       '041_S_1010', '109_S_1013', '109_S_1014', '094_S_1015',
       '033_S_1016', '002_S_1018', '036_S_1023', '141_S_1024',
       '094_S_1027', '016_S_1028', '009_S_1030', '133_S_1031',
       '012_S_1033', '099_S_1034', '013_S_1035', '032_S_1037',
       '029_S_1038', '051_S_1040', '128_S_1043', '053_S_1044',
       '027_S_1045', '023_S_1046', '141_S_1051', '141_S_1052',
       '052_S_1054', '133_S_1055', '029_S_1056', '003_S_1057',
       '003_S_1059', '100_S_1062', '024_S_1063', '031_S_1066',
       '002_S_1070', '051_S_1072', '029_S_1073', '003_S_1074',
       '068_S_1075', '126_S_1077', '037_S_1078', '082_S_1079',
       '011_S_1080', '027_S_1081', '027_S_1082', '116_S_1083',
       '033_S_1086', '128_S_1088', '094_S_1090', '062_S_1091',
       '016_S_1092', '141_S_1094', '022_S_1097', '033_S_1098',
       '032_S_1101', '094_S_1102', '114_S_1103', '023_S_1104',
       '114_S_1106', '021_S_1109', '109_S_1114', '033_S_1116',
       '016_S_1117', '114_S_1118', '082_S_1119', '013_S_1120',
       '016_S_1121', '003_S_1122', '051_S_1123', '023_S_1126',
       '006_S_1130', '012_S_1133', '036_S_1135', '141_S_1137',
       '016_S_1138', '127_S_1140', '099_S_1144', '128_S_1148',
       '016_S_1149', '141_S_1152', '100_S_1154', '002_S_1155',
       '109_S_1157', '013_S_1161', '094_S_1164', '012_S_1165',
       '052_S_1168', '032_S_1169', '133_S_1170', '024_S_1171',
       '012_S_1175', '062_S_1182', '109_S_1183', '067_S_1185',
       '013_S_1186', '126_S_1187', '094_S_1188', '023_S_1190',
       '068_S_1191', '109_S_1192', '941_S_1194', '941_S_1195',
       '941_S_1197', '009_S_1199', '130_S_1200', '130_S_1201',
       '941_S_1202', '941_S_1203', '129_S_1204', '013_S_1205',
       '007_S_1206', '073_S_1207', '031_S_1209', '127_S_1210',
       '072_S_1211', '012_S_1212', '027_S_1213', '029_S_1215',
       '057_S_1217', '126_S_1221', '007_S_1222', '005_S_1224',
       '037_S_1225', '136_S_1227', '141_S_1231', '116_S_1232',
       '036_S_1240', '094_S_1241', '128_S_1242', '116_S_1243',
       '141_S_1244', '141_S_1245', '129_S_1246', '023_S_1247',
       '116_S_1249', '052_S_1250', '052_S_1251', '067_S_1253',
       '027_S_1254', '141_S_1255', '082_S_1256', '003_S_1257',
       '041_S_1260', '002_S_1261', '023_S_1262', '016_S_1263',
       '057_S_1265', '094_S_1267', '002_S_1268', '057_S_1269',
       '013_S_1275', '013_S_1276', '027_S_1277', '033_S_1279',
       '002_S_1280', '033_S_1281', '011_S_1282', '033_S_1283',
       '033_S_1284', '033_S_1285', '100_S_1286', '020_S_1288',
       '023_S_1289', '130_S_1290', '012_S_1292', '094_S_1293',
       '062_S_1294', '062_S_1299', '123_S_1300', '131_S_1301',
       '007_S_1304', '024_S_1307', '033_S_1308', '033_S_1309',
       '094_S_1314', '116_S_1315', '029_S_1318', '012_S_1321',
       '121_S_1322', '016_S_1326', '094_S_1330', '051_S_1331',
       '009_S_1334', '027_S_1335', '130_S_1337', '007_S_1339',
       '005_S_1341', '109_S_1343', '052_S_1346', '121_S_1350',
       '022_S_1351', '052_S_1352', '009_S_1354', '073_S_1357',
       '941_S_1363', '041_S_1368', '057_S_1371', '057_S_1373',
       '082_S_1377', '141_S_1378', '057_S_1379', '072_S_1380',
       '127_S_1382', '029_S_1384', '027_S_1385', '131_S_1389',
       '024_S_1393', '022_S_1394', '094_S_1397', '094_S_1398',
       '024_S_1400', '094_S_1402', '128_S_1406', '128_S_1407',
       '128_S_1408', '128_S_1409', '041_S_1411', '041_S_1412',
       '137_S_1414', '094_S_1417', '041_S_1418', '127_S_1419',
       '041_S_1420', '037_S_1421', '041_S_1423', '041_S_1425',
       '127_S_1427', '128_S_1430', '041_S_1435'], dtype=object)

In [83]:
# save the unique subjects to a csv file as a comma separated list
with open('../data-for-lssm/raw/unique_subjects_adni.csv', 'w') as f:
    f.write(','.join(map(str, unique_subjects)))

In [ ]:
# save to csv file for df with age column and one without
merged.to_csv('../data-for-lssm/cleaned/adni_final_qc_with_age.csv', index=False)
merged_no_age.to_csv('../data-for-lssm/cleaned/adni_final_qc_no_age.csv', index=False)